.container .servers {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    left: 0;
    margin: 0 25rem 0 2rem;
    padding: 0 0 1rem 0;

    background: rgb(0 0 0 / 60%);
    box-shadow: 0 0 10px rgb(0 0 0 / 60%);

    color: white;
    text-align: center;
}

.container .servers .list{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container .servers .server {
    padding: 0.25rem;
    margin: 0.25rem 0.25rem 2rem 0.25rem;
    border: 1px solid #F5AC2A;
    min-width: 160px;
    transition: 400ms;
    min-height: 12rem;
}

.container .servers .server a{
    text-decoration: none;
    color: #F5AC2A;
    padding: 0.25rem 0.8rem;
    margin: 1.5rem;
    border: 1px solid #F5AC2A;
    position: relative;
    top: 1rem;
    background: #000;

    transition: 400ms;
}

.container .servers .server a:hover{
    text-decoration: none;
    color: #ab6d00;
}

.container .servers .server:hover{
    opacity: 1;
}

.container .servers h3{
    color: #F5AC2A;
    text-align: center;
    border-bottom: 1px solid;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem;
}

.container .discord{
    position: absolute;
    right: 2rem;
}

@media screen and (max-width: 1400px) {

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .discord {
        position: relative;
        height: 29rem;
        margin: 0 0 6rem 0;
        right: auto;
    }

    .container .servers {
        margin: 0;
    }
}