.container.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container h2{
    margin: 0 0 0.25rem 0;
    padding: 0;
    color: white;
}

.container .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background: rgb(0 0 0 / 60%);
    min-height: 30rem;

    border: 2px solid #F5AC2A;
    border-radius: 1rem;

    margin: 1rem 0 0 0;

    padding: 2rem 0;
}


.container .items .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    margin: 0.5rem;
    padding: 1rem;

    color: #F5AC2A;

    background: rgb(0 0 0 / 10%);
    border: 2px solid #F5AC2A;

    width: 210px;
    height: 300px;

    transition: 400ms;
}
.container .items .item:hover{
    color: #ab6d00;
    box-shadow: 0 0 10px #ab6d00;
    border-color: #ab6d00;
    opacity: 1;
}


.container .items .item .title{
    color: #fff;
}

.container .items .item img{
    border: 1px solid;
    box-shadow: 0 0 10px;
    padding: 6px;
    background: rgb(0 0 0 / 60%);
}

.container .items .item button{
    background: none;
    border: 1px solid;
    color: #F5AC2A;
    padding: 4px;
    transition: 400ms;
}

.container .items .item button:hover{
    color: #ab6d00;
}