.container .table {
    background: rgb(0 0 0 / 50%);
    box-shadow: 0 0 10px #F5AC2A;
    border: 1px solid #F5AC2A;
    padding: 1.5rem;

    position: absolute;
    right: 0;

    margin: 1.5rem 4rem 0 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
}

.container .table .item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: white;

    align-items: center;
    justify-content: space-around;

    border-bottom: 1px solid #F5AC2A;

    transition: 400ms;
}

.container .table .item:hover {
    border-bottom: 1px solid #ab6d00;
    color: #ab6d00;
}

.container .table .item .head{

    padding: 0 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 8.5rem;

}

.container .table .item .body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
}

.container .table .item .body h5{
    border-bottom: 1px solid;
    padding: 0 0 0.1rem 0;
}

@media screen and (max-width: 1000px){
    .container .table {
        margin: 0;
        position: relative;

        left: 50%;
        transform: translate(-50%, 0    );
    }

    .container .table .item {
        padding: 0 0 0.5rem 0;
    }

    .container .table .item .body h5{
        margin: 0 0 1rem 0;
    }

    .container .table .item .body{
        flex-direction: column;
    }
}


.container .table .item .body *{
    padding: 0 0.5rem;
}

.container .table .item button{
    background: transparent;
    border: none;
    color: #F5AC2A;
    font-size: large;
    transition: 400ms;
}

.container .table .item button:hover{
    color: #ab6d00;
}