<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mokra Rączka</title>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <link rel="shortcut icon" th:href="@{/assets/wethand/color_vertical.png}" type="image/png">

    <link rel="stylesheet" th:href="@{/wethand/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <button class="on-phone" onclick="toggleNavigation()"><i class="fas fa-list"></i></button>
        <img class="logo" th:src="@{/assets/wethand/color_horizontal.png}" alt="logo" width="200px">
        <nav>
            <a href="" class="active"><i class="fas fa-home"></i> Strona główna</a>
            <a href=""><i class="fas fa-archive"></i> Galeria</a>
            <a href=""><i class="fas fa-file-alt"></i> Regulamin</a>
        </nav>
    </header>

    <div class="container active">
        <div class="introduction">
            <div class="background"></div>
            <img th:src="@{/assets/wethand/white_horizontal.png}" alt="logo" width="200px">
            <div class="message">
                <h3>Twoja Mobilna Firma</h3>
                <h5>
                    Zajmujemy się profesjonalnym praniem, zwalczaniem nieprzyjemnych zapachów, czyszczeniem tapicerki, oraz wykładzin.
                </h5>
            </div>
        </div>
        <div class="info">
            <div class="background"></div>
            <div class="items">
                <div class="item" style="border: 1px solid #F5AC2A">
                    <h3>Godziny Otwarcia</h3>
                    <h5>
                        Poniedziałek: 09:00 - 21:00
                    </h5>
                    <h5>
                        Wtorek: 09:00 - 21:00
                    </h5>
                    <h5>
                        Środa: 09:00 - 21:00
                    </h5>
                    <h5>
                        Czwartek: 09:00 - 21:00
                    </h5>
                    <h5>
                        Piątek: 09:00 - 21:00
                    </h5>
                    <h5>
                        Sobota: 09:00 - 21:00
                    </h5>
                    <h5>
                        Niedziela: 09:00 - 20:00
                    </h5>
                </div>
                <div class="item" style="border: 1px solid dodgerblue">
                    <h3>Tutaj Jesteśmy</h3>
                    <h5>Adres: Gen. W. Sikorskiego 32, 38-400 Krosno</h5>
                    <h5>Telefon: +48 517 111 955</h5>
                    <h5><a href="https://maps.app.goo.gl/cQF6HAnRhLfrEt1N6" class="google-map"><i class="fas fa-map-marker-alt"></i> ʟᴏᴋᴀʟɪᴢᴀᴄᴊᴀ</a></h5>
                </div>
            </div>
        </div>
        <div class="gallery">
            <h3>Galeria</h3>
            <div class="images-container">
                <div class="main">

                </div>
            </div>
        </div>
    </div>

    <footer class="active">
        <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=100092446896468"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/mokra.raczka_pranie_tapicerek/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.google.com/search?q=mokra+rączka-pranie+tapicerki+krosno+godziny+otwarcia"><i class="fab fa-google"></i></a>
        </div>
        <a style="margin: 2rem 0 0 0"><i class="fas fa-envelope-open"></i> mokra.raczka@interia.pl</a>
        <a style="margin: 0.25rem 0 0.5rem 0"><i class="fas fa-phone"></i> +48 517 111 955</a>
        <hr width="50%">
        <h5 style="margin: 0.5rem 0 0 0;">Copyright 2023 by Mokra Rączka. All Rights Reserved.</h5>
        <h5 style="margin: 0 0 0.5rem 0">Made by: <a href="">Paweł Janocha</a></h5>
    </footer>

    <script>
        function toggleNavigation(){
            const nav = document.querySelector("nav");
            nav.classList.toggle("active");

            const container = document.querySelector(".container");
            container.classList.toggle("active");

            const footer = document.querySelector("footer");
            footer.classList.toggle("active");
        }

        
    </script>
</body>
</html>