body {
    background: rgb(0 0 0 / 80%) no-repeat fixed center;
    background-size: cover;
    font-family: Arial, serif;
    max-width: 100%;
    overflow: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background: #191919;
    z-index: 10;
}

header .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10px;
}

header .on-phone {
    display: none;
    position: absolute;
    right: 30px;
    background: transparent;
    box-shadow: 0 0 10px rgb(255 255 255 / 40%);
    top: 20px;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    transition: 0.4s;
}

header .on-phone:hover {
    font-size: medium;
    top: 16px;
    right: 24px;
    padding: 14px;
    color: #00bd00;
    box-shadow: 0 0 10px rgb(0 189 0 / 40%);
}

header nav {
    transition: 0.4s;
}

header nav a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: white;
    padding: 0.25rem 0.5rem;
    left: 1rem;
    transition: 0.4s;
    border-radius: 8px;
}

header nav a.active {
    color: #0078e0;
    font-weight: bold;
}

header nav a:hover {
    padding: 0.5rem 0.7rem;
    margin: 0 0.25rem;
    box-shadow: 0 0 10px rgb(255 255 255 / 40%);
}

@media screen and (max-width: 1000px) {
    header .on-phone {
        display: block;
    }

    header nav {
        width: 0;
    }

    header nav.active {
        position: fixed;
        padding: 1rem;
        height: 100%;
        width: 8rem;
        background: rgb(0 0 0 / 80%);
        box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    }

    header nav a {
        color: rgb(255 255 255 / 0%);
        text-align: start;
        padding: 0.25rem 0.5rem 0.25rem 0;
        top: 6rem;
        left: 0.25rem;
    }

    header nav a.active {
        color: rgba(0, 139, 234, 0);
        box-shadow: none;
    }

    header nav.active a {
        display: block;
        color: rgb(255 255 255);
    }

    header nav.active a.active {
        display: block;
        color: rgba(0 139 234 / 100%);
    }


    .container.active {
        opacity: 1;
    }

    .container {
        opacity: 0.09;
    }

    footer{
        opacity: 0.09;
    }

    footer.active {
        opacity: 1;
    }
}

.container {
    margin: 80px 1rem 1rem 1rem;
    transition: 0.3s;
}

footer {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    background: #191919;
    color: white;
    min-height: 80px;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    transform: translate(-8px, 0);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .icons {
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .icons a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin: 0 1rem;
    transition: 0.4s;
}

footer .icons a:hover {
    color: #0057A4;
}

footer h5 {
    margin: 0;
    padding: 0;
}

footer h5 a {
    text-decoration: none;
    color: #0057A4;
    transition: 400ms;
}

footer h5 a:hover {
    color: #50abff;
}

.container .introduction {
    position: relative;
    color: white;
    padding: 1rem 0 1.5rem 0;
    margin: 2rem -1.5rem 1.5rem -2rem;
    background: rgb(0 0 0 / 60%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.container .introduction .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/assets/wethand/images/intro.png") no-repeat fixed center;
    background-size: cover;
    opacity: 10%;
}

.container .introduction .message {
    margin: 0 0.5rem;
}

.container .introduction img {
    transform: translate(-8px, 0);
}

.container .info {
    position: relative;
    color: white;
    padding: 1rem 0 1rem 0;
    margin: 2rem -1.5rem 1.5rem -2rem;
    background: rgb(0 0 0 / 60%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.container .info .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/assets/wethand/images/open-hours.png") no-repeat fixed center;
    background-size: cover;
    opacity: 10%;
    z-index: 0;
}

.container .info .items {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.container .info .item {
    min-height: 14rem;
    z-index: 1;
    border: 1px solid;
    padding: 1rem;
    margin: 0.1rem 0.25rem 0.5rem 0;
}

.container .info .item h5 {
    margin: 0.1rem 0 0.15rem 0;
}

.container .info .item a {
    position: relative;
    bottom: -2rem;
    text-decoration: none;
    color: #0087ff;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 0 10px #0088ff;
    padding: 0.3rem;
    transition: 0.3s;
}

.container .info .item a:hover {
    color: #5baefa;
    box-shadow: 0 0 10px #5baefa;
}
