<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WywrotkaMC - Panel Sterowania</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/assets/panel/logo.png}" type="image/png">

    <meta property="og:image" content="https://asterius.pl/assets/panel/logo.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Open Graph / FaceBook & Discord -->

    <meta property="og:site_name" content="WywrotkaMC.pl">
    <meta property="og:title" content="WywrotkaMC.pl">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wywrotkamc.pl/">
    <meta property="og:description" content="Panel administracyjny serwera WywrotkaMC.PL">

    <!-- Twitter -->

    <meta property="twitter:site_name" content="WywrotkaMC.pl">
    <meta property="twitter:title" content="WywrotkaMC.pl">
    <meta property="twitter:type" content="website">
    <meta property="twitter:url" content="https://wywrotkamc.pl/">
    <meta property="twitter:description" content="Panel administracyjny serwera WywrotkaMC.PL">

    <meta name="theme-color" content="#FFF01F">

    <link rel="stylesheet" th:href="@{/panel/main.css}">
    <link rel="stylesheet" th:href="@{/panel/itemshop.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<header>

    <button class="on-phone" onclick="toggleNavigation()"><i class="fas fa-list"></i></button>
    <img th:src="@{/assets/panel/logo.png}" alt="logo" width="128px">
    <a href="../sign-out" class="sign-out"><i class="fas fa-sign-out-alt"></i></a>
    <button class="announcement"><i th:class="${bell}"></i></button>

    <nav>
        <a href="../panel"><i class="fas fa-home"></i> Home</a>
        <a href="/user" class="active"><i class="fas fa-user-circle"></i> User # ItemShop</a>
        <a href="/members"><i class="fas fa-users"></i> Members</a>
        <a href="/calendar"><i class="fas fa-calendar-check"></i> Calendar</a>
        <a href="/announcements"><i class="fas fa-bullhorn"></i> Announcements</a>
        <a href="/changes"><i class="fas fa-wrench"></i> Changes</a>

        <div class="account responsive">
            <!--/*@thymesVar id="account" type="java.lang.Object"*/-->
            <!--/*@thymesVar id="avatar" type="java.lang.String"*/-->
            <img th:src="${account.avatar}" alt="avatar" width="64px" style="border-radius: 16px">

            <!--/*@thymesVar id="name" type="java.lang.String"*/-->
            <h5 th:text="${account.nickName}"></h5>
        </div>
    </nav>
</header>

<div class="container active flex">
    <h2>ItemShop dla trybu</h2>
    <h2 th:text="${serverId}" style="color: #F5AC2A"></h2>
    <div class="items">
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Sell Wand : 1.5x</h3>
            <h5 style="color: #F5AC2A; margin: 0 0 1.25rem 0">ᴘʀᴢᴇᴅᴍɪᴏᴛ ʟᴇɢᴇɴᴅᴀʀɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/sell_wand.png}" alt="item" width="64px" height="64px">
            <h5 style="color: #F5AC2A; margin: 1rem 0 0 0;">Mnożnik sprzedaży: 1.5x</h5>
            <h5 style="color: #0078e0; margin: 0.25rem 0 0 0;">Ilość użyc: 250</h5>
            <h5 style="color: #e50000; margin: 1rem 0;">Brak możliwości sprzedaży.</h5>
            <button>Kwota: 10zł</button>
        </div>
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Sell Wand : 2x</h3>
            <h5 style="color: #F5AC2A; margin: 0 0 1.25rem 0">ᴘʀᴢᴇᴅᴍɪᴏᴛ ʟᴇɢᴇɴᴅᴀʀɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/sell_wand.png}" alt="item" width="64px" height="64px">
            <h5 style="color: #F5AC2A; margin: 1rem 0 0 0;">Mnożnik sprzedaży: 2x</h5>
            <h5 style="color: #0078e0; margin: 0.25rem 0 0 0;">Ilość użyc: 250</h5>
            <h5 style="color: #e50000; margin: 1rem 0;">Brak możliwości sprzedaży.</h5>
            <button>Kwota: 20zł</button>
        </div>
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Sell Wand : 3x</h3>
            <h5 style="color: #F5AC2A; margin: 0 0 1.25rem 0">ᴘʀᴢᴇᴅᴍɪᴏᴛ ʟᴇɢᴇɴᴅᴀʀɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/sell_wand.png}" alt="item" width="64px" height="64px">
            <h5 style="color: #F5AC2A; margin: 1rem 0 0 0;">Mnożnik sprzedaży: 3x</h5>
            <h5 style="color: #0078e0; margin: 0.25rem 0 0 0;">Ilość użyc: 250</h5>
            <h5 style="color: #e50000; margin: 1rem 0;">Brak możliwości sprzedaży.</h5>
            <button>Kwota: 30zł</button>
        </div>
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Voucher na 5zł</h3>
            <h5 style="color: #7f03ef; margin: 0 0 1.25rem 0">ᴘʀᴢᴇᴅᴍɪᴏᴛ ᴜɴɪᴋᴀʟɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/paper.png}" alt="item" width="64px" height="64px">
            <h5 style="margin: 2rem 0;">Po użyciu użytkownik otrzyma: 5zł</h5>
            <button>Kwota: 5zł</button>
        </div>
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Voucher na 10zł</h3>
            <h5 style="color: #7f03ef; margin: 0 0 1.25rem 0">ᴘʀᴢᴇᴅᴍɪᴏᴛ ᴜɴɪᴋᴀʟɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/paper.png}" alt="item" width="64px" height="64px">
            <h5 style="margin: 2rem 0;">Po użyciu użytkownik otrzyma: 10zł</h5>
            <button>Kwota: 10zł</button>
        </div>
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Voucher na 15zł</h3>
            <h5 style="color: #7f03ef; margin: 0 0 1.25rem 0">ᴘʀᴢᴇᴅᴍɪᴏᴛ ᴜɴɪᴋᴀʟɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/paper.png}" alt="item" width="64px" height="64px">
            <h5 style="margin: 2rem 0;">Po użyciu użytkownik otrzyma: 15zł</h5>
            <button>Kwota: 15zł</button>
        </div>
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Voucher na 20zł</h3>
            <h5 style="color: #7f03ef; margin: 0 0 1.25rem 0">ᴘʀᴢᴇᴅᴍɪᴏᴛ ᴜɴɪᴋᴀʟɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/paper.png}" alt="item" width="64px" height="64px">
            <h5 style="margin: 2rem 0;">Po użyciu użytkownik otrzyma: 20zł</h5>
            <button>Kwota: 20zł</button>
        </div>
        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0">Pet: Zeus</h3>
            <h5 style="color: #F5AC2A; margin: 0 0 1.25rem 0">ᴢᴡɪᴇʀᴢᴀᴋ ʟᴇɢᴇɴᴅᴀʀɴʏ</h5>
            <img class="icon" th:src="@{/assets/panel/itemshop/pet.png}" alt="item" width="64px" height="64px">
            <h5 style="margin: 1rem 0 0.25rem 0; color: white">Po użyciu użytkownik otrzyma zwierzaka</h5>
            <h4 style="margin: 0.25rem 0 1rem 0; color: #F5AC2A">ᴢᴇᴜs</h4>
            <button>Kwota: 20zł</button>
        </div>

        <div class="item">
            <h3 class="title" style="margin: 0.5rem 0 0.25rem 0" th:text="${offer.title}"></h3>

            <div th:each="title : ${offer.extraTitle}">
                <h5 th:text="${title.getKey()}" th:style="${title.getValue()}"></h5>
            </div>

            <img class="icon" th:src="${offer.img}" alt="item" width="64px" height="64px">

            <div th:each="line : ${offer.description}">
                <h5 th:text="${line.getKey()}" th:style="${line.getValue()}"></h5>
            </div>

            <h5 th:if="${!offer.isCanSell()}" style="color: #e50000; margin: 1rem 0;">Brak możliwości sprzedaży.</h5>

            <button>Kwota: 20zł</button>
        </div>

    </div>
</div>

<footer class="active">
    <h5 style="margin: -0.5rem 0.5rem; padding: 1.5rem 0 0 0">Copyright 2024 by "KONRAD ZAREMBA ARCHITEKTURA". All Rights Reserved.</h5>
    <h5 style="margin: 0.5rem; padding: 0.25rem 0 0 0">Made by: <a href="https://github.com/Mebrigji" style="text-decoration: none; color: #F5AC2A">Mebrigji <i class="fab fa-github"></i></a></h5>
</footer>

<script>

    function toggleNavigation() {
        const nav = document.querySelector("nav");
        nav.classList.toggle("active");

        const container = document.querySelector(".container");
        container.classList.toggle("active");
    }

    const items = document.querySelectorAll('.item');

    items.forEach(function (itembox){
        itembox.addEventListener('mouseenter', function (event) {
            items.forEach(function (item) {
                item.style.opacity = '0.2';
            })

            event.target.style.opacity = '1';
        });
    })

    items.forEach(function (itembox) {
        itembox.addEventListener('mouseleave', function (){
            items.forEach(function (item){
                item.style.opacity = '1';
            })
        })
    })
</script>
</html>