body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    scroll-behavior: smooth;
    background: #191919;

    font-family: Lato, sans-serif;

    overflow-x: hidden;
}


::-webkit-scrollbar-thumb{
    background: #c2ff97;
}

::-webkit-scrollbar{
    width: 8px;
}


.background-logo{
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 10%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 600px;
    height: 600px;
}

.root{
    display: none;
}

nav {
    position: relative;
    height: 80px;

    box-shadow: 0 0 10px #000;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
}

nav a{
    position: absolute;
    right: 2rem;

    color: #c2ff97;
    font-weight: bold;
    text-decoration: none;

    transition: 400ms;
}


nav a:hover{
    color: #709a52;
}

nav a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #709a52;
    transition: width 300ms ease;
}

nav a:hover::after{
    width: 100%;
}

nav .server h4{
    position: relative;
    top: 0;
    left: 1rem;
    margin: 0;
    color: #c2ff97;
}

nav .list{
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .list h5{
    position: relative;
    left: 8rem;
    color: #c2ff97;
    margin: 0 0.6rem;
    transition: 400ms;
    cursor: pointer;
}

nav .list h5::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #709a52;
    transition: width 300ms ease;
}

nav .list h5:hover::after{
    width: 100%;
}

nav .list h5:hover{
    color: #709a52;
}

nav .list h5.wallet{
    color: #fdc96c;
    font-size: 100%;
}

nav .list h5.wallet:hover{
    color: #f5ac2a;
}

nav .list h5.wallet::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #f5ac2a;
    transition: width 300ms;
}

nav .list h5.wallet:hover::after{
    width: 100%;
}

@keyframes pulse-green {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 #40fd23;
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 15px 2px #40fd23;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 #40fd23;
    }
}

@keyframes pulse-red {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 #e11414;
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 15px 2px #e11414;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px 0 #e11414;
    }
}


.pulsating-circle.active {
    position: absolute;
    top: 3px;
    left: 4rem;
    width: 10px;
    height: 10px;
    background-color: #40fd23;
    border-radius: 50%;
    animation: pulse-green 2s infinite;
}

.pulsating-circle{
    position: absolute;
    top: 3px;
    left: 4rem;
    width: 10px;
    height: 10px;
    background-color: #e11414;
    border-radius: 50%;
    animation: pulse-red 2s infinite;
}

.container{
    margin: 100px 0 0 0;
}

.container .statistics{
    display: flex;
    justify-content: center;
}

.container .statistics .server{
    position: absolute;
    left: 3rem;

    color: white;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .statistics .server .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    max-width: 700px;
}
.container .statistics .server .list .item{
    margin: 0.5rem 1rem;
    padding: 1rem;

    width: 150px;
    height: 100px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border-radius: 8px;
    box-shadow: 0 0 10px #c2ff97;

    cursor: default;
}

.container .statistics .server .list .item::after{
    content: '';
    display: block;

    margin: 0.5rem 0 0 0;

    top: 1rem;
    left: 0;

    height: 4px;
    width: 100%;

    border-radius: 2px;
    background: linear-gradient(to right, #c2ff97 var(--width, 0), rgba(203, 203, 203, 0.23) var(--width, 0));

    transition: width 400ms;
}

.container .statistics .server .list .item h4{
    margin: 0.5rem 0 0.25rem 0;
}

.container .statistics .server .list .item h5{
    color: #c2ff97;
    margin: 0;
}

.container .statistics .account{
    position: absolute;

    right: 0;
    transform: translateX(-8rem);

    border: 1px solid #709a52;
    border-radius: 8px;

    box-shadow: 0 0 8px #00000020;
    background: #00000020;

    color: white;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .statistics .account .stats{
    display: flex;
    flex-direction: column;
    text-align: center;

    border-radius: 8px;
    box-shadow: 0 0 10px #000;

    padding: 1rem;

    cursor: default;
}

.container .statistics .account .stats h4{
    margin: 0 0 1rem 0;
}

.container .statistics .account .stats .info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    transition: 150ms;
}

.container .statistics .account .stats .info:hover{
    background: rgb(255 255 255 / 15%);
}

.container .statistics .account .stats .info h4{
    margin: 0 1rem;
    color: #c2ff97;
}

.container .statistics .account .avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 0.8rem 0 0;
    margin: 0 1rem 0 0;
    border-right: 1px solid #709a52;
}

.container .statistics .account .avatar h3{
    margin: 0.5rem 0;
}

.container .statistics .account .avatar img{
    width: 128px;
}

.container .statistics .account .history{
    position: absolute;
    top: 14rem;
    right: 0;

    text-align: center;

    color: white;

    border: 1px solid #709a52;
    border-radius: 8px;

    padding: 1rem;
}

.container .statistics .account .history h3{
    margin: 0 0 0.5rem 0;
}

.container .statistics .account .history .list{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;

    height: 250px;
    min-width: 250px;

    padding: 0.5rem;

    border-radius: 4px;
    box-shadow: 0 0 8px #000;

    cursor: default;
}

.container .statistics .account .history .list .info{
    position: relative;
    padding: 0.25rem 1rem;

    transition: 400ms;

    width: 100%;
}

.container .statistics .account .history .list .info::after{
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 0;
    height: 2px;
    background: #c2ff97;
    transition: width 400ms;
}

.container .statistics .account .history .list .info:hover::after{
    width: 100%;
}

.container .statistics .account .history .list .info:hover{
    background: rgb(255 255 255 / 10%);
}

.container .statistics .account .history .list .info h4{
    color: #c2ff97;
    margin: 0;
}

.container .statistics .account .history .list .info h5{
    color: #4f4f4f;
    margin: 0;
}

.application{
    position: relative;

    margin-top: 40rem;
    height: 50rem;

    box-shadow: 0 0 10px #000;

    transition: scale 500ms;
}

footer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    padding: 0 0 1.5rem 0;
}

footer h2{
    margin: 2rem 0 0 0;
}

footer h4{
    margin: 0;
}