<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coś poszło nie tak..</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <link rel="shortcut icon" th:href="@{/assets/logos/color_vertical.png}" type="image/png">

    <link rel="stylesheet" th:href="@{/unexpected.css}">

</head>
<body>
    <div class="container">
        <img th:src="@{/assets/logos/white_horizontal.png}" alt="logo">
        <h2>UPSS!!</h2>
        <h3>Wystąpił błąd strony..</h3>
        <div class="message">
            <h2 th:text="'Kod błedu: ' + ${code}"></h2>
            <h4 th:text="${message}"></h4>
        </div>
        <a href="../">POWRÓT DO STRONY GŁÓWNEJ</a>
    </div>
</body>
</html>