<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asterius.PL - Your MineCraft Server.</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/assets/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/index/main.css}">
    <link rel="stylesheet" th:href="@{/styles/index/core.css}">
    <link rel="stylesheet" th:href="@{/styles/index/phone.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<body>
    <div class="loader">

    </div>
    <div class="root">

        <nav>
            <a href=""><i class="fas fa-bullhorn"></i></a>
            <a href=""><i class="fas fa-calendar-alt"></i></a>
            <a href="login"><i class="fas fa-user-circle"></i></a>
        </nav>

        <img class="background-logo" th:src="@{/assets/logo.png}" alt="logo">

        <div class="container">
            <h2>Choose Game</h2>
            <div class="list">
                <div class="item" style="background: url('/assets/survival.png') no-repeat fixed center; background-size: cover;">
                    <div class="title">
                        <div class="pulsating-circle"></div>
                        <h2>SURVIVAL + RPG</h2>
                        <h4>
                            <span th:utext="${players_1}"></span>
                            <i class="fas fa-users"></i>
                        </h4>
                    </div>
                    <div class="interactive">
                        <a class="join" href=""><i class="fas fa-sign-in-alt"></i> JOIN</a>
                        <a class="info" style="cursor: pointer"><i class="fas fa-question-circle"></i></a>
                    </div>
                </div>

                <div class="item" style="background: url('/assets/skygen.png') no-repeat fixed center; background-size: cover;">
                    <div class="title">
                        <div class="pulsating-circle"></div>
                        <h2>SKYGEN + RPG</h2>
                        <h4>
                            <span th:utext="${players_2}"></span>
                            <i class="fas fa-users"></i>
                        </h4>
                    </div>
                    <div class="interactive">
                        <a class="join" href=""><i class="fas fa-sign-in-alt"></i> JOIN</a>
                        <a class="info" style="cursor: pointer"><i class="fas fa-question-circle"></i></a>
                    </div>
                </div>

            </div>
            <button onclick="copyToClipboard('mc.asterius.pl')"><i class="fas fa-paperclip"></i> COPY MINECRAFT ADDRESS</button>

        </div>

        <div class="account" th:if="${isLogged}">
            <div class="avatar">
                <h3>
                    <span style="color: #0077b2">⚓ </span>
                    <span th:utext="${nickName}"></span>
                    <span style="color: #f5ac2a"> VIP</span>
                </h3>
                <img th:src="'https://visage.surgeplay.com/bust/256/' + ${nickName}" alt="avatar">
            </div>
            <div class="stats">
                <h4>YOUR STATS</h4>
                <div class="info">
                    <h4>⚔️ 12</h4>
                    <h4 th:text="'#' + ${stat_1}"></h4>
                </div>
                <div class="info">
                    <h4>☠️ 6</h4>
                    <h4 th:text="'#' + ${stat_2}"></h4>
                </div>
                <div class="info">
                    <h4>⛏️ 10801</h4>
                    <h4 th:text="'#' + ${stat_3}"></h4>
                </div>
                <div class="info">
                    <h4>⌚ 9d 9h 15m 31s</h4>
                    <h4 th:text="'#' + ${stat_4}"></h4>
                </div>
                <div class="balance">
                    <h4>🪙 910</h4>
                    <h4>💧 15</h4>
                </div>
            </div>
        </div>

        <div class="dial" th:unless="${isLogged}">
            <h1 style="margin: 0.25rem 0;">Log In</h1>
            <h2 style="margin: 0 1rem;">If you want to use our website with all its features, you must log in first. If you don't know how to log in, <a href="log-tutorial" style="text-decoration: none; color: #f5ac2a;">check it out</a> and enjoy exploring the corners of our website!</h2>
            <script th:inline="javascript">
                document.addEventListener('DOMContentLoaded', function () {
                    const loginMessage = document.querySelector('.dial');
                    setTimeout(function () {
                        loginMessage.style.opacity = '0';
                        setTimeout(() => {
                            loginMessage.style.display = 'none';
                        }, 1000)
                    }, 5000);
                });
            </script>
        </div>
    </div>

    <script>
        function copyToClipboard(content){
            const textarea = document.createElement("textarea");
            textarea.style.height = 0;
            document.body.appendChild(textarea);
            textarea.value = content;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
        }
    </script>

</body>
</html>