<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" style="scroll-behavior: smooth">
    <title>Mokra Rączka</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/assets/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/index.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="loader">

    </div>
    <div class="root">

        <div class="slider">
            <div class="topic"></div>
        </div>

        <header>
            <img class="logo" th:src="@{/assets/logos/white_horizontal.png}" alt="logo">
            <nav>
                <a href=""><i class="fas fa-coins"></i> Cennik</a>
                <a href=""><i class="fas fa-archive"></i> Galeria</a>
                <a href="" class="active"><i class="fas fa-home"></i> Strona Główna</a>
                <a href=""><i class="fas fa-phone"></i> Kontakt</a>
                <a href=""><i class="fas fa-question"></i> O Nas</a>
            </nav>
        </header>


        <div class="container">
            <section class="about-us">
                <h2>O NAS</h2>
                <h3>Jesteśmy Mobilną Firmą zajmującą się profesjonalnym praniem, zwalczaniem nieprzyjemnych zapachów, czyszczeniem tapicerki oraz wykładzin.</h3>
            </section>
            <section class="gallery">
                <h2>NASZE PRACE</h2>
                <div class="items">
                    <div class="item" gallery_id="1">

                    </div>
                    <button class="next"></button>
                    <button class="previous"></button>
                </div>
            </section>
        </div>

        <footer>
            <div class="icons">
                <a href="https://www.facebook.com/profile.php?id=100092446896468"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/mokra.raczka_pranie_tapicerek/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com/search?q=mokra+rączka-pranie+tapicerki"><i class="fab fa-google"></i></a>
            </div>
            <a style="margin: 2rem 0 0 0"><i class="fas fa-envelope-open"></i> mokra.raczka@interia.pl</a>
            <a style="margin: 0.25rem 0 0.5rem 0"><i class="fas fa-phone"></i> +48 517 111 955</a>
            <hr width="50%">
            <h5 style="margin: 0.5rem 0 0 0;">Copyright 2023 by Mokra Rączka. All Rights Reserved.</h5>
            <h5 style="margin: 0 0 0.5rem 0">Made by: <a href="">Paweł Janocha</a></h5>
        </footer>
    </div>
</body>
</html>