<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charge wallet</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/page/top-up.css}">
    <link rel="stylesheet" th:href="@{/styles/tooltip.css}">
</head>
<body>
    <form action="charge" method="post">

        <div class="voucher">
            <h4>ACTIVE YOUR</h4>
            <label for="voucher">VOUCHER</label>
            <input type="text" name="voucher" id="voucher" placeholder="xxxx-xxxx-xxxx-xxxx"  minlength="16" maxlength="16">
            <button type="button">CHECK VALID</button>
        </div>

        <div class="methods">
            <h4>CHOOSE YOUR PAYMENT</h4>
            <h3>METHOD</h3>
            <button type="button"><img th:src="@{/assets/payments/paypal.png}" alt="paypal"></button>
            <button type="button"><img th:src="@{/assets/payments/visa.png}" alt="paypal"></button>
            <button type="button" Tooltip="<span style='color: crimson'>This payment method is currently disabled. Please check it later.</span>" class="disabled"><img th:src="@{/assets/payments/psc.png}" alt="paypal"></button>
            <button type="button"><i class="fas fa-sms"></i> SMS</button>
        </div>

        <div class="container">

            <div class="title">
                <h4>CURRENTLY SELECTED PAYMENT METHOD</h4>
                <h3>VISA ~ TRANSFER</h3>
            </div>

            <input oninput="update(this)" type="range" name="value" min="5" value="5" max="250">
            <span id="value">5€</span>

            <h5 Tooltip="You can only buy our server value which can't be withdraw. On every <span style='color: gold'>1€</span> you gain <span style='color: gold'>1 AsterCoin.</span>">BEFORE YOU BUY SOMETHING</h5>

            <div class="gift">
                <h4>Want to give a gift to another player?</h4>

                <label for="notification">
                    Should be there notification to receiver after bought?
                    <input type="checkbox" name="notification" id="notification">
                </label>
                
                <label for="receiver">RECEIVER NAME</label>
                <input type="text" name="receiver" id="receiver">
            </div>
        </div>

    </form>

    <script>
        const valueElement = document.querySelector(".container #value")

        function update(element){
            let value = element.value;
            if(value > 250) value = 250
            else if(value < 5) value = 5

            valueElement.innerHTML = value + '€'
        }

        const tooltipMap = new Map()

        document.querySelectorAll("*[Tooltip]").forEach(element => {
            element.addEventListener('mouseenter', () => {
                activeTooltip(element)
            })
            element.addEventListener('mouseleave', () => {
                disableTooltip(element)
            })
        })

        function activeTooltip(element){
            if(!element.hasAttribute("Tooltip")) return
            const tooltip = document.createElement("h4")
            tooltip.classList.add("tooltip")
            tooltip.innerHTML = element.getAttribute("Tooltip")
            element.appendChild(tooltip)
            tooltipMap.set(element, tooltip)
        }

        function disableTooltip(element){
            if(!element.hasAttribute("Tooltip")) return
            element.removeChild(tooltipMap.get(element))
            tooltipMap.delete(element)
        }
    </script>
</body>
</html>