<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charge wallet</title>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/page/top-up.css}">
</head>
<body>
    <form action="charge" method="post">

        <div class="voucher">
            <h4>ACTIVE YOUR</h4>
            <label for="voucher">VOUCHER</label>
            <input type="text" name="voucher" id="voucher" placeholder="xxxx-xxxx-xxxx-xxxx"  minlength="16" maxlength="16">
            <button type="button">CHECK VALID</button>
        </div>

        <div class="methods">
            <h4>CHOOSE YOUR PAYMENT</h4>
            <h3>METHOD</h3>
            <button><img th:src="@{/assets/payments/paypal.png}" alt="paypal"></button>
            <button><img th:src="@{/assets/payments/visa.png}" alt="paypal"></button>
            <button><img th:src="@{/assets/payments/psc.png}" alt="paypal"></button>
            <button type="button" onclick="changePaymentMethod('sms')"><i class="fas fa-sms"></i> SMS</button>
        </div>

        <div class="container">

            <div class="title">
                <h4>CURRENTLY SELECTED PAYMENT METHOD</h4>
                <h3>VISA ~ TRANSFER</h3>
            </div>

            <input oninput="update(this)" type="range" name="value" min="5" value="5" max="250">
            <input oninput="update(this)" type="number" min="5" value="5" max="250">

            <div>
                <label for="nickName">NICKNAME</label>
                <input type="text" name="nickName" id="nickName" placeholder="Type here your name." required minlength="2" maxlength="32">
            </div>
        </div>

    </form>

    <script>
        const rangeElement = document.querySelector(".container input[type=range]")
        const integerElement = document.querySelector(".container input[type=number]")

        function update(element){
            let value = element.value
            if(value > 250) {
                updateBoth(250)
            } else if(value < 5) {
                updateBoth(5)
            } else {
                if(element === rangeElement) integerElement.value = value
                else rangeElement.value = value
            }
        }

        function updateBoth(value){
            integerElement.value = value
            rangeElement.value = value
        }

        const sections = document.querySelectorAll(".container section")
        function changePaymentMethod(type){
            sections.forEach(element => {
                element.classList.remove("active")
                const provideType = element.getAttribute("charge-method")
                if(provideType === type) element.classList.add("active")
            })
        }
    </script>
</body>
</html>