body{
    background: url("/assets/panel/background.png") no-repeat fixed center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem 2rem 2rem;
    border: 1px solid #F5AC2A;

    top: 50%;
    left: 50%;

    background: rgb(0 0 0 / 60%);

    color: white;
    text-align: center;
}

.container h2{
    margin: 0;
    padding: 0.5rem 0;
}

.container h3{
    color: #F5AC2A;
    border-top: 1px solid;
    margin: 0.5rem 0;

    padding: 0.5rem 0;
}

.container .message{
    box-shadow: 0 0 10px #F5AC2A;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 8px;
    color: #F5AC2A;
}

.container .contact a{
    text-decoration: none;
    color: white;
    padding: 0 0.25rem;
    font-size: x-large;
    transition: 400ms;
}

.container .contact a:hover{
    color: #F5AC2A;
}

.container img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: -4rem;
    transform: translate(-50%, -50%);
}