.container .community{
    color: white;
    right: 2rem;
}

.container .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container .contact .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}